.card {
  width: 200px;
  height: 100px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #c2e297;
  cursor: grab;
}

.card:not(:last-child) {
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
}
